# Generating Sample Data from Distributions
Then treating data as if they were samples of real data

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd
print(pd.__version__)

0.23.4

# Plot randomly generated classification dataset

http://scikit-learn.org/stable/auto_examples/datasets/plot_random_dataset.html

http://scikit-learn.org/stable/datasets/index.html#sample-generators

http://scikit-learn.org/stable/modules/generated/sklearn.datasets.make_classification.html

Plot several randomly generated 2D classification datasets.
This example illustrates the :func:`datasets.make_classification`
:func:`datasets.make_blobs` and :func:`datasets.make_gaussian_quantiles`
functions.

For ``make_classification``, three binary and two multi-class classification
datasets are generated, with different numbers of informative features and
clusters per class.

In [12]:
import numpy as np

from sklearn.datasets import make_classification
from sklearn.datasets import make_blobs

# http://scikit-learn.org/stable/modules/generated/sklearn.datasets.make_blobs.html#sklearn.datasets.make_blobs

# https://www.welt.de/motor/news/article156991316/Unfallstatistik-2015.html
# http://www.openculture.com/2017/12/why-incompetent-people-think-theyre-amazing.html
# 0: young drivers with fast cars: red
# 1: reasonable drivers: green
# 2: a little bit older, more kilometers, general noise: yellow
# 3: really old drivers: red
# 4: young drivers: red
# 5: another green just to have a counter part to all the red ones: green
# 6: people who do not drive a lot: green
# 7: people who drive a lot: yellow
# 8: young people with slow cars: yellow

centers = [(150, 35, 50), (110, 50, 25), (120, 55, 30), (120, 75, 20), (120, 30, 30), 
           (140, 45, 40), (110, 40, 15), (130, 50, 45), (100, 25, 15)]
cluster_std = [4, 9, 18, 8, 9, 5, 8, 12, 5]

# X, y = make_blobs(n_samples=300, n_features=3, centers=centers, random_state=13, cluster_std = cluster_std)
# X, y = make_blobs(n_samples=300, n_features=3, centers=centers, random_state=42, cluster_std = cluster_std)
X, y = make_blobs(n_samples=1500, n_features=3, centers=centers, random_state=42, cluster_std = cluster_std)

# http://scikit-learn.org/stable/modules/generated/sklearn.datasets.make_classification.html
# X, y = make_classification(n_features=3, n_redundant=0, n_informative=3,
#                              n_clusters_per_class=2, n_classes=3, random_state=42)

feature_names = ['speed', 'age' ,'miles']
df = pd.DataFrame(X, columns=feature_names)
df = df.round()
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.clip.html

df['speed'] = df['speed'].clip(60,200)
df['age'] = df['age'].clip(16,100)
df['miles'] = df['miles'].clip(1,500)

# merges clusters into one group
for group in np.nditer(y, op_flags=['readwrite']):
    if group == 3 or group == 4:
        group[...] = 0
    if group == 5 or group == 6:
        group[...] = 1
    if group == 7 or group == 8:
        group[...] = 2

In [13]:
df['group'] = y

In [14]:
df.describe()

             speed          age        miles        group
count  1500.000000  1500.000000  1500.000000  1500.000000
mean    122.492667    44.980667    30.434000     0.998667
std      17.604333    17.130400    15.250815     0.816768
min      68.000000    16.000000     1.000000     0.000000
25%     108.000000    32.000000    18.000000     0.000000
50%     120.000000    42.000000    29.000000     1.000000
75%     137.000000    55.000000    42.000000     2.000000
max     166.000000   100.000000    84.000000     2.000000

In [16]:
# df.to_csv('./insurance-customers-300-2.csv', sep=';', index=False)
# df.to_csv('./insurance-customers-300.csv', sep=';', index=False)
df.to_csv('./insurance-customers-1500.csv', sep=';', index=False)

In [22]:
# check
# !curl -O https://raw.githubusercontent.com/DJCordhose/data-viz/master/data/insurance-customers-1500.csv
!curl -O https://raw.githubusercontent.com/DJCordhose/data-viz/master/data/insurance-customers-300.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  5376  100  5376    0     0  19131      0 --:--:-- --:--:-- --:--:-- 19131

In [23]:
!ls -l

total 6901
-rw-r--r-- 1 olive 197609   15401 Sep 23 09:23 0-generate.ipynb
drwxr-xr-x 1 olive 197609       0 Sep 23 09:01 data
drwxr-xr-x 1 olive 197609       0 Aug  8 12:01 figures
-rw-r--r-- 1 olive 197609  179704 Aug 14 13:23 insurance.hdf5
-rw-r--r-- 1 olive 197609   26783 Sep 23 09:22 insurance-customers-1500.csv
-rw-r--r-- 1 olive 197609    5376 Sep 23 09:24 insurance-customers-300.csv
-rw-r--r-- 1 olive 197609  179704 Aug 13 19:06 insurance-simple.hdf5
drwxr-xr-x 1 olive 197609       0 Aug 13 18:59 model
-rw-r--r-- 1 olive 197609    5484 Aug 14 13:28 production preparation.ipynb
-rw-r--r-- 1 olive 197609      88 Aug  9 17:14 sample_insurance.json
drwxr-xr-x 1 olive 197609       0 Aug 14 13:27 tf
drwxr-xr-x 1 olive 197609       0 Aug 14 09:36 tfjs
-rw-r--r-- 1 olive 197609  634721 Aug 16 11:37 U3-M1-example.ipynb
-rw-r--r-- 1 olive 197609 3620457 Aug  9 10:31 U3-M2-nn-intro.ipynb
-rw-r--r-- 1 olive 197609 2002487 Aug  9 12:14 U3-M3-nn-no-bullshit.ipynb
-rw-r--r-- 1 olive 197609  338311 Aug 14 09:39 U3-M3-nn-simplified.ipynb
-rw-r--r-- 1 olive 197609    8054 Sep 12 10:25 U4-M1-Preparing TensorFlow models.ipynb
-rw-r--r-- 1 olive 197609   19871 Aug 14 12:26 U4-M2-Serving TensorFlow models.ipynb
-rw-r--r-- 1 olive 197609    9641 Aug 14 09:39 U4-M3-Deploying to the Browser using TensorFlow.js.ipynb

In [24]:
customers = pd.read_csv('./insurance-customers-300.csv', sep=';')
# customers = pd.read_csv('./insurance-customers-1500.csv', sep=';')

In [25]:
customers.describe()

            speed         age       miles       group
count  300.000000  300.000000  300.000000  300.000000
mean   122.963333   44.000000   31.133333    1.000000
std     17.135170   16.312992   15.568885    0.817861
min     85.000000   16.000000    1.000000    0.000000
25%    109.750000   33.000000   18.000000    0.000000
50%    121.000000   42.000000   30.000000    1.000000
75%    137.000000   52.000000   43.000000    2.000000
max    161.000000   97.000000   99.000000    2.000000